    /* Googlefont Poppins*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      min-height: 100vh;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      height: 70px;
      background: #2c2c2c;
      box-shadow: 10px 0px 10px #0c0c0c;
      z-index: 99;
    }

    nav .navbar {
      height: 100%;
      max-width: 1250px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      padding: 0 100px;
    }

    .logo img {
      width: 10%;
      height: 100%;
      cursor: pointer;
      align-items: center;
    }

    /* CARRINHO */
    .header-icon {
      display: flex;
      align-items: center;
    }

    .header-icon i {
      margin-right: 50px;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      transition: all;
    }

    /* CARRINHO */


    nav .navbar .nav-links {
      line-height: 70px;
      height: 100%;
    }

    nav .navbar .links {
      display: flex;
    }

    nav .navbar .links li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      padding: 0 14px;
    }

    nav .navbar .links li a {
      height: 100%;
      text-decoration: none;
      white-space: nowrap;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
    }

    .links li:hover .htmlcss-arrow,
    .links li:hover .js-arrow {
      transform: rotate(180deg);
    }

    nav .navbar .links li .arrow {
      /* background: red; */
      height: 100%;
      width: 22px;
      line-height: 70px;
      text-align: center;
      display: inline-block;
      color: #fff;
      transition: all 0.3s ease;
    }

    nav .navbar .links li .sub-menu {
      position: absolute;
      top: 70px;
      left: 0;
      line-height: 40px;
      background: #2c2c2c;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 0 0 4px 4px;
      display: none;
      z-index: 2;
    }

    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu {
      display: block;
    }

    .navbar .links li .sub-menu li {
      padding: 0 22px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navbar .links li .sub-menu a {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
    }

    .navbar .links li .sub-menu .more-arrow {
      line-height: 40px;
    }

    .navbar .links li .htmlCss-more-sub-menu {
      /* line-height: 40px; */
    }

    .navbar .links li .sub-menu .more-sub-menu {
      position: absolute;
      top: 0;
      left: 100%;
      border-radius: 0 4px 4px 4px;
      z-index: 1;
      display: none;
    }

    .links li .sub-menu .more:hover .more-sub-menu {
      display: block;
    }

    .navbar .search-box {
      position: relative;
      height: 40px;
      width: 40px;
    }

    .navbar .search-box i {
      position: absolute;
      height: 100%;
      width: 100%;
      line-height: 40px;
      text-align: center;
      font-size: 22px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .navbar .search-box .input-box {
      position: absolute;
      right: calc(100% - 40px);
      top: 80px;
      height: 60px;
      width: 300px;
      background: #2c2c2c;
      border-radius: 6px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease;
    }

    .navbar.showInput .search-box .input-box {
      top: 65px;
      opacity: 1;
      pointer-events: auto;
      background: #2c2c2c;
    }

    .search-box .input-box::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      background: #2c2c2c;
      right: 10px;
      top: -6px;
      transform: rotate(45deg);
    }

    .search-box .input-box input {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 4px;
      transform: translate(-50%, -50%);
      height: 35px;
      width: 280px;
      outline: none;
      padding: 0 15px;
      font-size: 16px;
      border: none;
    }

    .navbar .nav-links .sidebar-logo {
      display: none;
    }

    .navbar .bx-menu {
      display: none;
    }

    .btn {
      display: flex;
      justify-content: space-around;
      gap: 5px;
      align-items: center;
      margin-top: 20px;
      margin-right: 190px;
      margin-bottom: 20px;
      margin-left: 90px;
    }

    .login {
      padding: 5px 15px;
      font-size: 15px;
      border: none;
      border-radius: 5px;
      color: rgb(0, 0, 0);
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
      transition: 1s;
    }

    .login:hover {
      transform: translateY(-5px);
      background-color: #45d97c;
      transition: all 0.2s;
    }

    .cadastro {
      padding: 15px 20px;
      font-size: 15px;
      border: none;
      border-radius: 5px;
      color: rgb(0, 0, 0);
      background-color: #63ff9d;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
      transition: 1s;
    }

    .cadastro:hover {
      transform: translateY(-5px);
      background-color: #34a55d;
      transition: all 0.2s;
    }

    @media (max-width:920px) {
      nav .navbar {
        max-width: 100%;
        padding: 0 25px;
      }

      nav .navbar .logo a {
        font-size: 27px;
      }

      nav .navbar .links li {
        padding: 0 10px;
        white-space: nowrap;
      }

      nav .navbar .links li a {
        font-size: 15px;
      }
    }

    @media (max-width:800px) {
      nav {
        /* position: relative; */
      }

      .navbar .bx-menu {
        display: block;
      }

      nav .navbar .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 270px;
        width: 100%;
        background: #34a55d;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
      }

      .navbar .nav-links .sidebar-logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .sidebar-logo .logo-name {
        font-size: 25px;
        color: #fff;
      }

      .sidebar-logo i,
      .navbar .bx-menu {
        font-size: 25px;
        color: #fff;
      }

      nav .navbar .links {
        display: block;
        margin-top: 20px;
      }

      nav .navbar .links li .arrow {
        line-height: 40px;
      }

      nav .navbar .links li {
        display: block;
      }

      nav .navbar .links li .sub-menu {
        position: relative;
        top: 0;
        box-shadow: none;
        display: none;
      }

      nav .navbar .links li .sub-menu li {
        border-bottom: none;

      }

      .navbar .links li .sub-menu .more-sub-menu {
        display: none;
        position: relative;
        left: 0;
      }

      .navbar .links li .sub-menu .more-sub-menu li {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .links li:hover .htmlcss-arrow,
      .links li:hover .js-arrow {
        transform: rotate(0deg);
      }

      .navbar .links li .sub-menu .more-sub-menu {
        display: none;
      }

      .navbar .links li .sub-menu .more span {
        /* background: red; */
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
      }

      .links li .sub-menu .more:hover .more-sub-menu {
        display: none;
      }

      nav .navbar .links li:hover .htmlCss-sub-menu,
      nav .navbar .links li:hover .js-sub-menu {
        display: none;
      }

      .navbar .nav-links.show1 .links .htmlCss-sub-menu,
      .navbar .nav-links.show3 .links .js-sub-menu,
      .navbar .nav-links.show2 .links .more .more-sub-menu {
        display: block;
      }

      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow {
        transform: rotate(180deg);
      }

      .navbar .nav-links.show2 .links .more-arrow {
        transform: rotate(90deg);
      }
    }

    h1 {
      text-align: center;
      font: 'Poppins', sans-serif;
      color: #34a55d;
      font-size: 25px;
      margin-top: 50px;
      text-transform: uppercase;

    }

    .tit_pcs_gverd {
      display: flex;
      list-style: none;
      gap: 150px;
      justify-content: space-evenly;
      color: #34a55d;
      font: 18px 'Poppins', sans-serif;
      font-weight: bolder;
      padding: 20px 0 0px 0;
      text-transform: uppercase;
      position: relative;
      transition: 1s;
    }

    .tit_pcs_gverd:hover {
      transform: translateY(-5px);
      transition: all 0.5s;
    }

    /* PAGE DE DEPARTAMENTO */

    .section-title {
      font: 18px 'Poppins', sans-serif;
      margin-top: 50px;
      margin-left: 26px;
      font-weight: bolder;
      color: #2c2c2c;
    }

    /* PARTE DE PRODUTOS */

    /* MAIN */

    h3 {
      display: flex;
      margin-left: 2.1%;
      margin-top: 3%;
      color: #1f1f1f;
    }

    .container {
      display: flex;
      justify-content: space-around;
      margin-top: -1%;
    }

    .names {
      font-weight: 500;
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-align: center;
      transform: translate(20%);
      z-index: 1;
    }

    .produto {
      margin-bottom: 20px;
      cursor: pointer;
    }

    .produto p {
      color: rgb(0, 0, 0);
      padding: 5px 1px;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
    }

    #produtos {
      display: flex;
      align-items: center;
      margin-top: 2%;
      justify-content: space-around;
      cursor: pointer;
    }

    .produto {
      background-color: #f1f1f1;
      border-radius: 5px;
      color: #f8f8f8;
      padding: 10px 20px;
      cursor: pointer;
    }

    /* PAGE DE DEPARTAMENTO */


    /* PAGE BANNER PROMOCIONAL */

    .banner-promocional {
      padding: 30px 0px
    }

    .banner-promocional img {
      width: 98%;
      margin: auto;
      display: block;
      border-radius: 6px
    }

    @media screen and (max-width: 990px) {
      .banner-promocional {
        padding: 20px 15px
      }
    }

    @media (max-width:370px) {
      nav .navbar .nav-links {
        max-width: 100%;
      }
    }

    /* CART 1 - ANIMADO */

    h4 {
      text-align: center;
      font: 'Poppins', sans-serif;
      color: #34a55d;
      font-size: 25px;
      margin-top: 50px;
      text-transform: uppercase;
      margin-top: 2%;
    }

    .card1 {
      position: relative;
      width: 320px;
      height: 420px;
      background: #2c2c2c;
      border-radius: 20px;
      overflow: hidden;
    }

    .card1:before {
      content: '';
      position: absolute;
      top: -50%;
      width: 100%;
      height: 100%;
      background: #34a55d;
      transform: skewY(345deg);
      transition: 0.5s;
    }

    .card1:hover::before {
      transform: skewY(390deg);
      top: -70%;
    }

    .card1::after {
      content: 'Headset Gamer';
      position: absolute;
      bottom: 0;
      left: 0;
      font-weight: 600;
      font-size: 8.0em;
      color: rgba(0, 0, 0, 0.1);
    }

    .card1 .imgBx {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      z-index: 1;
    }

    .card1 .imgBx img {
      max-width: 90%;
      transition: 0.5s;
    }

    .card1:hover .imgBx img {
      max-width: 70%;
    }

    .card1 .contentBx {
      position: relative;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1;
    }

    .card1 .contentBx p {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .card1 .contentBx .price {
      font-size: 24px;
      color: #fff;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .card1 .contentBx .buy {
      position: relative;
      top: 200px;
      opacity: 0;
      padding: 10px 30px;
      margin-top: 15px;
      color: #fff;
      text-decoration: none;
      background-color: #63ff9d;
      border-radius: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.5s;
    }

    .card1:hover .contentBx .buy {
      top: 0px;
      opacity: 1;
    }

    /* CART 2 - ANIMADO */

    .card2 {
      position: relative;
      width: 320px;
      height: 420px;
      background: #2c2c2c;
      border-radius: 20px;
      overflow: hidden;
    }

    .card2:before {
      content: '';
      position: absolute;
      top: -50%;
      width: 100%;
      height: 100%;
      background: #34a55d;
      transform: skewY(345deg);
      transition: 0.5s;
    }

    .card2:hover::before {
      transform: skewY(390deg);
      top: -70%;
    }

    .card2::after {
      content: 'Cadeira Ergonômica';
      position: absolute;
      bottom: 0;
      left: 0;
      font-weight: 600;
      font-size: 8.0em;
      color: rgba(0, 0, 0, 0.1);
    }

    .card2 .imgBx {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      z-index: 1;
    }

    .card2 .imgBx img {
      max-width: 90%;
      transition: 0.5s;
    }

    .card2:hover .imgBx img {
      max-width: 70%;
    }

    .card2 .contentBx {
      position: relative;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1;
    }

    .card2 .contentBx p {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .card2 .contentBx .price {
      font-size: 24px;
      color: #fff;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .card2 .contentBx .buy {
      position: relative;
      top: 200px;
      opacity: 0;
      padding: 10px 30px;
      margin-top: 15px;
      color: #fff;
      text-decoration: none;
      background-color: #63ff9d;
      border-radius: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.5s;
    }

    .card2:hover .contentBx .buy {
      top: 0px;
      opacity: 1;
    }

    /* CART 3 - ANIMADO*/

    .card3 {
      position: relative;
      width: 320px;
      height: 420px;
      background: #2c2c2c;
      border-radius: 20px;
      overflow: hidden;
    }

    .card3:before {
      content: '';
      position: absolute;
      top: -50%;
      width: 100%;
      height: 100%;
      background: #34a55d;
      transform: skewY(345deg);
      transition: 0.5s;
    }

    .card3:hover::before {
      transform: skewY(390deg);
      top: -70%;
    }

    .card3::after {
      content: 'SWITCH OLED';
      position: absolute;
      bottom: 0;
      left: 0;
      font-weight: 600;
      font-size: 8.0em;
      color: rgba(0, 0, 0, 0.1);
    }

    .card3 .imgBx {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      z-index: 1;
    }

    .card3 .imgBx img {
      max-width: 90%;
      transition: 0.5s;
    }

    .card3:hover .imgBx img {
      max-width: 70%;
    }

    .card3 .contentBx {
      position: relative;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1;
    }

    .card3 .contentBx p {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .card3 .contentBx .price {
      font-size: 24px;
      color: #fff;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .card3 .contentBx .buy {
      position: relative;
      top: 200px;
      opacity: 0;
      padding: 10px 30px;
      margin-top: 15px;
      color: #fff;
      text-decoration: none;
      background-color: #63ff9d;
      border-radius: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: 0.5s;
    }

    .card3:hover .contentBx .buy {
      top: 0px;
      opacity: 1;
    }


    /* HORA DO PLAY - PRODUTOS */

    :root {
      --primary: #1f1f1f;
      /* --primary: #fff; */
      --secondary: #00dd53;
    }

    h5 {
      color: #000;
      font-size: 1.5rem;
      font-weight: 300;
      position: relative;
      margin-bottom: 3rem;
      text-align: center;
    }

    h5::after {
      content: "";
      position: absolute;
      width: 200px;
      height: 3px;
      background-color: #63ff9d;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: auto;
    }

    .slide {
      background-color: var(--bg);
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      place-items: center;
      grid-gap: 2rem;
      font-family: 'Poppins', sans-serif;

    }

    .item {
      position: relative;
      width: 17rem;
      height: 23rem;
      background-color: var(--primary);
      color: #fff;
      border-radius: 1rem;
      border: .1rem solid transparent;
      overflow: hidden;
      box-shadow: 0 .2rem .6rem #0003;
      transition: .5s ease-in-out;
      z-index: 1;
    }

    .item:hover {
      border: .1rem solid var(--secondary);
      transform: scale(1.05);
    }

    .item::before,
    .item::after {
      position: absolute;
      content: "";
      background-color: var(--secondary);
      border-radius: 50%;
      transition: .5s ease-in-out;
      z-index: 100;
    }

    .item::before {
      top: -6%;
      right: -6%;
      width: 9rem;
      height: 9rem;
    }

    .item::after {
      bottom: -6%;
      left: -6%;
      width: 5rem;
      height: 5rem;
    }

    .item:hover::before {
      transform: scale(1.8);
    }

    .item:hover::after {
      transform: scale(0);
    }

    .item-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      z-index: 200;
    }

    .item-img,
    .item-title {
      transform: translateY(4rem);
      transition: .5s ease-in-out;
    }

    .item-img {
      width: auto;
      height: 9.5rem;
    }

    .item-title {
      font-size: 1rem;
      text-transform: capitalize;
      transition-delay: .1s;
    }

    .item-body,
    .item-footer {
      transform: translateY(8rem);
      transition: .5s ease-in-out;
    }

    .item-body {
      width: 100%;

      display: flex;
      justify-content: space-around;
      align-items: center;
      transition-delay: .2s;
    }

    .item:hover .item-img,
    .item:hover .item-title,
    .item:hover .item-body,
    .item:hover .item-footer {
      transform: translateY(0);
    }

    .item-footer {
      transition-delay: .3s;
    }

    .star {
      font-size: 1.4rem;
      color: gold;
    }

    .item-price {
      font: bolder 1.5rem sans-serif;
    }

    .btn1 {
      padding: 1rem 2rem;
      background-color: unset;
      border: none;
      outline: none;
      border-radius: 2rem;
      color: #fff;
      cursor: pointer;
    }

    .btn-success {
      background-color: var(--secondary);
    }

    .btn-border {
      border: .1rem solid var(--secondary);
    }

    /* CONTA/CADASTRO */

    :root {
      --primary-color: #34a55d;
      --secundary-color: #FFF;
      --text-color-dark: #000;
      --text-color-light: #fff;
      --icon-color: #F3F3F3;

    }



    .form-button {
      width: 140px;
      height: 40px;
      border-style: none;
      border-radius: 50px;
      border: 2px solid var(--primary-color);
      background-color: transparent;
      font-size: 1rem;
      font-weight: 800;
      color: var(--primary-color);
      cursor: pointer;
      transition: .7s;
    }

    .form-button:hover {
      background-color: var(--primary-color);
      color: var(--secundary-color);
    }

    .form-button-light {
      border: 2px solid var(--secundary-color);
      color: var(--text-color-light);
    }

    @media (max-width:768px) {
      .form-button {
        background-color: var(--primary-color);
        color: var(--secundary-color);
        border: 2px solid var(--secundary-color);
      }
    }

    .form-container {
      height: 100%;
      width: 100%;
      display: flex;
    }

    .form-input-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .form-input {
      width: 300px;
      height: 40px;
      padding: 10px 20px;
      border-style: none;
      background-color: var(--icon-color);
    }

    .form-social {
      display: flex;
      gap: 24px;
    }

    .form-title {
      color: #00dd53;
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .form-title p {
      font-size: 1rem;
      margin-top: -10%;
      font-weight: 300;
      font-weight: normal;
      color: var(--text-color-dark);
    }

    .form-title-light {
      color: var(--text-color-light);
    }

    .form {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: var(--secundary-color);
      padding: 55px 0;
      transition: 1s;
    }

    .form-register {
      transform: translateX(-100%);
      z-index: -1;
      opacity: 0;
    }

    .login-container.move .form-login {
      transform: translateX(100%);
    }

    .login-container.move .form-register {
      transform: translateX(0%);
      z-index: 1;
      opacity: 1;
    }

    @media (max-width:768px) {
      .form {
        width: 100%;
        justify-content: space-evenly;
      }

      .form-register {
        position: absolute;
        background-color: var(--primary-color);
        color: var(--secundary-color);
        transform: translateX(100%);
      }

      .login-container.move .form-register {
        transform: translateX(0%);
      }

    }

    .login-container {
      position: relative;
      height: 480px;
      width: 768px;
      border-radius: 12px;
      box-shadow: 0 5px 20px #414141;
      overflow: hidden;
    }

    @media (max-width:768px) {
      .login-container {
        width: 75vw;
        height: 75vh;
      }
    }

    @media (max-width:480px) {
      .login-container {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
      }
    }

    main {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .mobile-text {
      display: none;
    }

    @media (max-width:768px) {
      .mobile-text {
        display: block;
      }

      .mobile-text a {
        font-weight: 900;
        color: inherit;
      }
    }

    .overlay-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      color: var(--text-color-light);
      text-align: center;
      transform: translateX(100%);
      z-index: 10;
      transition: 1s;
    }

    .login-container.move .overlay-container {
      transform: translateX(0%);
    }

    @media (max-width:768px) {
      .overlay-container {
        display: none;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 40px;
      background-color: var(--primary-color);
      transition: 1s;
    }

    .login-container.move .overlay:nth-child(2) {
      z-index: -1;
      opacity: 0;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    a {
      text-decoration: none;
      color: var(--text-color-dark);
    }

    .social-icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 1.2rem;
      background-color: var(--icon-color);
      box-shadow: 0 4px 4px #0004;
      transition: .5s;
    }

    .social-icon:hover {
      background-color: var(--primary-color);
      transform: translateY(-15%);
      color: var(--text-color-light);
    }


    /* RECUPERAR SENHA */



    /* ATENDIMENTO */
    
    


    /* BANNERS PROMO */

    .banners_promoc {
      display: flex;
      justify-content: space-around;
      margin-top: 2%;
      margin-left: 23px;
      margin-bottom: 2%;
      gap: 10px;
      z-index: 1;
    }

    .banners-promocional img {
      width: 95%;
      height: 95%;
      border-radius: 6px;
    }


    @media screen and (max-width: 990px) {
      .banners-promocional {
        display: block;
      }
    }


    /* FOOTER */

    .footer {
      background-color: #131313;
      color: white;
      text-align: center;
      font-size: 10px;
      padding: 15px;
    }

    .footer-teste a {
      color: #fff;
    }